pipeline/ETLMainLoad.json
{
	"name": "ETLMainLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_seq_StartSequenceLoad]",
						"storedProcedureParameters": {
							"sequenceLoadName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Seqence",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SequenceLoadId",
					"value": {
						"value": "@{activity('Lookup1').output.firstRow.SequenceLoadLogId}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DWHShellSQLServer": {
				"type": "string",
				"defaultValue": ".\\"
			},
			"DWHShellDB": {
				"type": "string",
				"defaultValue": "DWHShell"
			},
			"SequenceLoadName": {
				"type": "string",
				"defaultValue": "S_STAGE_LOAD"
			},
			"Restart": {
				"type": "string",
				"defaultValue": "N"
			},
			"MaxParallelism": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"SequenceLoadId": {
				"type": "String"
			},
			"SequenceLoadLogId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}