pipeline/pl_ETLMainLoad.json
{
	"name": "pl_ETLMainLoad",
	"properties": {
		"activities": [
			{
				"name": "ac_StartSequenceLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_seq_StartSequenceLoad]",
						"storedProcedureParameters": {
							"sequenceLoadName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ac_SeqenceLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_StartSequenceLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vSequenceLoadId",
					"value": {
						"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadId}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_SeqenceLoadLogId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_StartSequenceLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vSequenceLoadLogId",
					"value": {
						"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadLogId}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_SessionStatusLaoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_SeqenceLoadLogId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ac_SeqenceLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[sp_etl_SessionStatusLoad]",
					"storedProcedureParameters": {
						"restart": {
							"value": {
								"value": "@pipeline().parameters.Restart",
								"type": "Expression"
							},
							"type": "String"
						},
						"sequenceLoadName": {
							"value": {
								"value": "@pipeline().parameters.SequenceLoadName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ac_GetBatchToLoad",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ac_SessionStatusLaoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[sp_batch_GetBatchToLoad]",
						"storedProcedureParameters": {
							"sequenceLoadName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ac_GetBatchToLoadValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_GetBatchToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vBatchLoadQueue",
					"value": {
						"value": "@array(activity('ac_GetBatchToLoad').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_ExecuteBatchLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ac_GetBatchToLoadValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vBatchLoadQueue')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_TaskLoad",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ac_BatchLoadLogId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ETLTaskLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SequenceLoadLogId": {
										"value": "@variables('vSequenceLoadLogId')",
										"type": "Expression"
									},
									"BatchLoadId": {
										"value": "item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ac_StartBatchLoad",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[LOG].[sp_batch_StartBatchLoad]",
									"storedProcedureParameters": {
										"batchLoadId": {
											"type": "Int32",
											"value": {
												"value": "item().value.BatchLoadId",
												"type": "Expression"
											}
										},
										"seqenceLoadLogId": {
											"type": "Int32",
											"value": {
												"value": "@variables('vSequenceLoadLogId')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ac_BatchLoadLogId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ac_StartBatchLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vBatchLoadLogId",
								"value": {
									"value": "@activity('ac_StartBatchLoad').output.firstRow",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ac_EndBatchLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "pl_TaskLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[LOG].[sp_batch_EndBatchLoad]",
								"storedProcedureParameters": {
									"batchLoadLogId": {
										"value": {
											"value": "@int(variables('vBatchLoadLogId'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"batchLoadStatus": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databgd",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ac_EndSequnceLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_ExecuteBatchLoop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_seq_EndSequenceLoad]",
					"storedProcedureParameters": {
						"sequenceLoadLogId": {
							"value": {
								"value": "@int(variables('SequenceLoadLogId'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"sequenceLoadName": {
							"value": {
								"value": "@pipeline().parameters.SequenceLoadName",
								"type": "Expression"
							},
							"type": "String"
						},
						"sequenceLoadStatus": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DWHShellSQLServer": {
				"type": "string",
				"defaultValue": ".\\"
			},
			"DWHShellDB": {
				"type": "string",
				"defaultValue": "DWHShell"
			},
			"SequenceLoadName": {
				"type": "string",
				"defaultValue": "S_STAGE_LOAD_G"
			},
			"Restart": {
				"type": "string",
				"defaultValue": "N"
			},
			"MaxParallelism": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"vSequenceLoadId": {
				"type": "String"
			},
			"vSequenceLoadLogId": {
				"type": "String"
			},
			"vBatchLoadQueue": {
				"type": "Array"
			},
			"vBatchLoadLogId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}