pipeline/pl_ETLMainLoad.json
{
	"name": "pl_ETLMainLoad",
	"properties": {
		"activities": [
			{
				"name": "ac_StartSequenceLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_seq_StartSequenceLoad]",
						"storedProcedureParameters": {
							"sequenceLoadName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ac_SeqenceLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_StartSequenceLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SequenceLoadId",
					"value": {
						"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadId}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_SeqenceLoadLogId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_StartSequenceLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SequenceLoadLogId",
					"value": {
						"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadLogId}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_SessionStatusLaoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_SeqenceLoadLogId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ac_SeqenceLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[sp_etl_SessionStatusLoad]",
					"storedProcedureParameters": {
						"restart": {
							"value": {
								"value": "@pipeline().parameters.Restart",
								"type": "Expression"
							},
							"type": "String"
						},
						"sequenceLoadName": {
							"value": {
								"value": "@pipeline().parameters.SequenceLoadName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ac_GetBatchToLoad",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ac_SessionStatusLaoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[sp_batch_GetBatchToLoad]",
						"storedProcedureParameters": {
							"sequenceLoadName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ac_GetBatchToLoadValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_GetBatchToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchLoadQueue",
					"value": {
						"value": "@array(activity('ac_GetBatchToLoad').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac__ExecuteBatchLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ac_GetBatchToLoadValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('BatchLoadQueue')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_TaskLoad",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ETLTaskLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ac_EndSequenceLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac__ExecuteBatchLoop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_seq_EndSequenceLoad]",
					"storedProcedureParameters": {
						"sequenceLoadLogId": {
							"value": {
								"value": "int(variables('SequenceLoadLogId'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"sequenceLoadName": {
							"value": {
								"value": "@pipeline().parameters.SequenceLoadName",
								"type": "Expression"
							},
							"type": "String"
						},
						"sequenceLoadStatus": {
							"value": "\"Succuss\"",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DWHShellSQLServer": {
				"type": "string",
				"defaultValue": ".\\"
			},
			"DWHShellDB": {
				"type": "string",
				"defaultValue": "DWHShell"
			},
			"SequenceLoadName": {
				"type": "string",
				"defaultValue": "S_STAGE_LOAD_G"
			},
			"Restart": {
				"type": "string",
				"defaultValue": "N"
			},
			"MaxParallelism": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"SequenceLoadId": {
				"type": "String"
			},
			"SequenceLoadLogId": {
				"type": "String"
			},
			"BatchLoadQueue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}