pipeline/pl_ETLTaskLoad.json
{
	"name": "pl_ETLTaskLoad",
	"properties": {
		"activities": [
			{
				"name": "ac_TaskLoadQueue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_GetTaskToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vTaskLoadQueue",
					"value": {
						"value": "@array(activity('ac_GetTaskToLoad').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_GetTaskToLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[sp_task_GetTaskToLoad]",
						"storedProcedureParameters": {
							"batchLoadId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchLoadId",
									"type": "Expression"
								}
							},
							"sequenceLoadId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ac_ExecuteTaskLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ac_TaskLoadQueue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"parameters": {
			"SequenceLoadId": {
				"type": "string"
			},
			"BatchLoadId": {
				"type": "string"
			}
		},
		"variables": {
			"vBatchLoadLogId": {
				"type": "String"
			},
			"vTaskLoadQueue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}