pipeline/pl_ETLTaskLoad.json
{
	"name": "pl_ETLTaskLoad",
	"properties": {
		"activities": [
			{
				"name": "ac_StartBatchLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_batch_StartBatchLoad]",
						"storedProcedureParameters": {
							"batchLoadId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchLoadId",
									"type": "Expression"
								}
							},
							"seqenceLoadLogId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SequenceLoadLogId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ac_TaskLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ac_StartBatchLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			},
			{
				"name": "ac_EndBatchLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_TaskLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_batch_EndBatchLoad]",
					"storedProcedureParameters": {
						"batchLoadLogId": {
							"value": {
								"value": "@int(variables('BatchLoadLogId'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"batchLoadStatus": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SequenceLoadLogId": {
				"type": "string"
			},
			"BatchLoadId": {
				"type": "string"
			}
		},
		"variables": {
			"BatchLoadLogId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}