dfdatasrb/PartialArmTemplates/ArmTemplate_10_8_2021_10_57_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfdatasrb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ETLMainLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StartSequenceLoad",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[LOG].[sp_seq_StartSequenceLoad]",
								"storedProcedureParameters": {
									"sequenceLoadName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SequenceLoadName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "SeqenceLoadId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "StartSequenceLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SequenceLoadId",
							"value": {
								"value": "@{activity('StartSequenceLoad').output.firstRow.SequenceLoadId}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SeqenceLoadLogId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "StartSequenceLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SequenceLoadLogId",
							"value": {
								"value": "@{activity('StartSequenceLoad').output.firstRow.SequenceLoadLogId}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SessionStatusLaoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SeqenceLoadLogId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SeqenceLoadId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[sp_etl_SessionStatusLoad]",
							"storedProcedureParameters": {
								"restart": {
									"value": {
										"value": "@pipeline().parameters.Restart",
										"type": "Expression"
									},
									"type": "String"
								},
								"sequenceLoadName": {
									"value": {
										"value": "@pipeline().parameters.SequenceLoadName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "databgd",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetBatchToLoad",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SessionStatusLaoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ETL].[sp_batch_GetBatchToLoad]",
								"storedProcedureParameters": {
									"sequenceLoadName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SequenceLoadName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GetBatchToLoadValue",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetBatchToLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BatchLoadQueue",
							"value": {
								"value": "@array(activity('GetBatchToLoad').output.value)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_ExecuteBatchLoop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetBatchToLoadValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('BatchLoadQueue')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "pl_TaskLoad",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ETLTaskLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"DWHShellSQLServer": {
						"type": "string",
						"defaultValue": ".\\"
					},
					"DWHShellDB": {
						"type": "string",
						"defaultValue": "DWHShell"
					},
					"SequenceLoadName": {
						"type": "string",
						"defaultValue": "S_STAGE_LOAD_G"
					},
					"Restart": {
						"type": "string",
						"defaultValue": "N"
					},
					"MaxParallelism": {
						"type": "int",
						"defaultValue": 2
					}
				},
				"variables": {
					"SequenceLoadId": {
						"type": "String"
					},
					"SequenceLoadLogId": {
						"type": "String"
					},
					"BatchLoadQueue": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ETLTaskLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ETLTaskLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ac_Test",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select 0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}