dfdatasrb/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfdatasrb"
		},
		"databgd_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'databgd'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/databgd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('databgd_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databgd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databgd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ETLTaskLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ac_StartBatchLoad",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[LOG].[sp_batch_StartBatchLoad]",
								"storedProcedureParameters": {
									"batchLoadId": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.BatchLoadId",
											"type": "Expression"
										}
									},
									"seqenceLoadLogId": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SequenceLoadLogId",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ac_TaskLoadId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ac_StartBatchLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BatchLoadLogId",
							"value": {
								"value": "@activity('ac_StartBatchLoad').output.firstRow",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ac_EndBatchLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ac_TaskLoadId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[LOG].[sp_batch_EndBatchLoad]",
							"storedProcedureParameters": {
								"batchLoadLogId": {
									"value": {
										"value": "@int(variables('BatchLoadLogId'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"batchLoadStatus": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "databgd",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SequenceLoadLogId": {
						"type": "string"
					},
					"BatchLoadId": {
						"type": "string"
					}
				},
				"variables": {
					"BatchLoadLogId": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/databgd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ETLMainLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ac_StartSequenceLoad",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[LOG].[sp_seq_StartSequenceLoad]",
								"storedProcedureParameters": {
									"sequenceLoadName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SequenceLoadName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ac_SeqenceLoadId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ac_StartSequenceLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SequenceLoadId",
							"value": {
								"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadId}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ac_SeqenceLoadLogId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ac_StartSequenceLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SequenceLoadLogId",
							"value": {
								"value": "@{activity('ac_StartSequenceLoad').output.firstRow.SequenceLoadLogId}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ac_SessionStatusLaoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ac_SeqenceLoadLogId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ac_SeqenceLoadId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[sp_etl_SessionStatusLoad]",
							"storedProcedureParameters": {
								"restart": {
									"value": {
										"value": "@pipeline().parameters.Restart",
										"type": "Expression"
									},
									"type": "String"
								},
								"sequenceLoadName": {
									"value": {
										"value": "@pipeline().parameters.SequenceLoadName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "databgd",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ac_GetBatchToLoad",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ac_SessionStatusLaoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ETL].[sp_batch_GetBatchToLoad]",
								"storedProcedureParameters": {
									"sequenceLoadName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SequenceLoadName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ac_GetBatchToLoadValue",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ac_GetBatchToLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BatchLoadQueue",
							"value": {
								"value": "@array(activity('ac_GetBatchToLoad').output.value)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ac_ExecuteBatchLoop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ac_GetBatchToLoadValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('BatchLoadQueue')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "pl_TaskLoad",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ETLTaskLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SequenceLoadLogId": {
												"value": "@variables('SequenceLoadLogId')",
												"type": "Expression"
											},
											"BatchLoadId": {
												"value": "item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ac_EndSequnceLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ac_ExecuteBatchLoop",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[LOG].[sp_seq_EndSequenceLoad]",
							"storedProcedureParameters": {
								"sequenceLoadLogId": {
									"value": {
										"value": "@int(variables('SequenceLoadLogId'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"sequenceLoadName": {
									"value": {
										"value": "@pipeline().parameters.SequenceLoadName",
										"type": "Expression"
									},
									"type": "String"
								},
								"sequenceLoadStatus": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "databgd",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DWHShellSQLServer": {
						"type": "string",
						"defaultValue": ".\\"
					},
					"DWHShellDB": {
						"type": "string",
						"defaultValue": "DWHShell"
					},
					"SequenceLoadName": {
						"type": "string",
						"defaultValue": "S_STAGE_LOAD_G"
					},
					"Restart": {
						"type": "string",
						"defaultValue": "N"
					},
					"MaxParallelism": {
						"type": "int",
						"defaultValue": 2
					}
				},
				"variables": {
					"SequenceLoadId": {
						"type": "String"
					},
					"SequenceLoadLogId": {
						"type": "String"
					},
					"BatchLoadQueue": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/databgd')]",
				"[concat(variables('factoryId'), '/pipelines/pl_ETLTaskLoad')]"
			]
		}
	]
}